*.o
*.mod
*.pdf
test_chebyshev
test_tensor
test_adapquad
create_boundchi
test_linearode 
test_riccati
test_prolates
test_prolates_window
test_prolates_exps
create_prolexps 
test_prolates_fast
plot_chi
plot_A
plot_phases
test_chiexp
test_pseval
